.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  /* min-width: fit-content; */
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
  height: 30px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

@media (max-width: 1300px) {
  .feed {
    flex: 0.6;
  }
}

@media (max-width: 980px) {
  .feed {
    flex: 0.7;
  }
}
@media (max-width: 900px) {
  .feed {
    flex: 0.9;
  }
}

@media (max-width: 550px) {
  .feed {
    flex: 1;
    margin: 0;
    padding: 0;
    border-right: none;
  }
  .feed__header {
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--twitter-background);
  }
}
